#calendar {
    max-width: 1030px;
    margin: 50px auto;
}

#calendar a {
    color: #003d73;
}

.fc-event-title {
    font-size: 12px !important; /* Ajuste conforme necessário */
}
.fc-daygrid-event {
    font-size: 12px !important; /* Para eventos na visão mensal */
}

body{
    background: linear-gradient(90deg, rgba(224,224,224,1) 0%, rgba(223,223,223,1) 35%, rgba(210,210,210,1) 100% );
}


a {
    padding: 0.5rem 1rem;
    display: flex;
    transition: transform 0.3s ease;
    font-size: 1.2rem;
    text-decoration: none;
}


.sidebar{
    background: linear-gradient(135deg, #00122a, #003d73);
    width: 250px; 
    position: fixed;
    border-top-right-radius: 15px; 
    left: -250px; /* Começa fora da tela */
    transition: left 0.3s ease; /* Transição suave */
}

.sidebar.show {
    left: 0; /* Move para dentro da tela */
}

.sidebar img {
    height: 60px;
    display: block;
    margin: 0 auto 20px;
}

.sidebar a{
    color: #ffff;
    padding: 10px;
}

.sidebar i{
    font-size: 17px;
    padding: 5px;
}

.sidebar a:hover {
    transform: scale(1.05);
}

.sidebar button {
    background-color: #ffc107;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 7px;
    width: 100%;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.sidebar button:hover{
    transform: scale(1.05);
} 


.modal-lg {
    max-width: 80%; /* Ajuste conforme necessário */
}

.input-cinza {
    background-color: #e9e9e9; /* Cinza claro */
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.input-cinza:focus {
    background-color: #e0e0e0; /* Cinza mais escuro ao focar */
    border-color: #888;
  }
