{% load static %} 
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://encrypted-tbn2.gstatic.com/faviconV2?url=https://www.nortetech.net&client=VFE&size=64&type=FAVICON&fallback_opts=TYPE,SIZE,URL&nfrp=2" type="image/png">
    <title>Login - Agenda</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">  
    <link rel="stylesheet" href="{% static 'agenda/css/login.css' %}" />
  </head>
  <body>
    <div class="login-container">
      <!-- Lado esquerdo com a animação -->
      <div class="left-side">
        <img src="https://static.wixstatic.com/media/de50eb_ad9cb6f8ec9d429e87290a369ebdf57d~mv2.png" 
        alt="Logo" 
        class="logo">
        <canvas id="dotlottie-canvas" style="width: 100%; height: 100%;"></canvas>
      </div>

      <!-- Lado direito com o formulário -->
      <div class="right-side">
        <h1 class="login-title">Login</h1>

        {% if messages %}
          {% for message in messages %}
            <p class="text-danger text-center">{{ message }}</p>
          {% endfor %}
        {% endif %}

        <form method="post">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" id="username" name="username" required />
            <label for="username">Matrícula</label>
          </div>
          <div class="input-group">
            <input type="password" id="password" name="password" required />
            <label for="password">Senha</label>
          </div>
          <button type="submit" class="login-button">Entrar</button>
        </form>
        <div class="mt-5">
            <button class="btn btn-outline-danger fw-bold" data-bs-toggle="modal" data-bs-target="#modalCadastro">
                Não tem um registro?
            </button>
        </div>
      </div>
    </div>

            <!-- Modal -->
            <div class="modal fade" id="modalCadastro" tabindex="-1" aria-labelledby="modalCadastroLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modalCadastroLabel" >Aviso</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                        </div>
                        <div class="modal-body" style="font-size: 1.1rem;">
                            <p>O cadastro de novos usuários é feito exclusivamente pela equipe do  <strong>S.I - Desenvolvimento</strong>.</p>
                            <p>Entre em contato:</p>
                            <ul class="list-unstyled">
                                <li><strong>Ricardo Aviz</strong>: 92 8456-8926</li>
                                <hr>
                                <li><strong>Ailer Pimentel</strong>: 92 8483-8680</li>
                                <hr>
                                <li><strong>Daniel Castro</strong>: 92 9367-8694</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
    
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Inclusão do script JS após o conteúdo -->
    <script type="module">
      import { DotLottie } from "https://cdn.jsdelivr.net/npm/@lottiefiles/dotlottie-web/+esm";

      new DotLottie({
        autoplay: true,
        loop: true,
        canvas: document.getElementById("dotlottie-canvas"),
        src: "https://lottie.host/5470287a-cdb9-4017-bfcc-4e912558ddb8/E3njGzJ3gy.lottie",  // Substitua pelo link do seu arquivo .lottie ou .json
      });
    </script>
  </body>
</html>